modules = ["nodejs-24", "postgresql-16", "python-3.11"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "artifacts/santijet-neon: web"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "artifacts/santijet-neon"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/santijet-neon run dev"
cwd = "./artifacts/santijet-neon"
waitForPort = 23301
router = "path"

[workflows.workflow.tasks.env]
PORT = "23301"
BASE_PATH = "/neon/"

[[workflows.workflow]]
name = "artifacts/santiye-takip: expo"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "artifacts/santiye-takip"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/santiye-takip run dev"
cwd = "./artifacts/santiye-takip"
waitForPort = 24914
ensurePreviewReachable = "/status"
router = "expo-domain"

[workflows.workflow.tasks.env]
PORT = "24914"
BASE_PATH = "/"

[[workflows.workflow]]
name = "artifacts/santiye-takip: web"
author = "agent"
mode = "parallel"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "artifacts/santiye-takip"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/santiye-takip run dev:web"
cwd = "./artifacts/santiye-takip"
waitForPort = 24915
router = "expo-domain"

[workflows.workflow.tasks.env]
PORT = "24915"
BASE_PATH = "/app"

[[workflows.workflow]]
name = "artifacts/api-server: API Server"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "3B4_FFSkEVBkAeYMFRJ2e"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/api-server run dev"
cwd = "./artifacts/api-server"
waitForPort = 8080

[workflows.workflow.tasks.env]
PORT = "8080"

[[workflows.workflow]]
name = "artifacts/mockup-sandbox: Component Preview Server"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "XegfDyZt7HqfW2Bb8Ghoy"
isCanvasWorkflow = true

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/mockup-sandbox run dev"
cwd = "./artifacts/mockup-sandbox"
waitForPort = 8081

[workflows.workflow.tasks.env]
PORT = "8081"
BASE_PATH = "/__mockup"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["github:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3003

[[ports]]
localPort = 23301
externalPort = 5000

[[ports]]
localPort = 24914
externalPort = 3000

[[ports]]
localPort = 24915
externalPort = 4200

[[ports]]
localPort = 24916
externalPort = 3001

[nix]
channel = "stable-25_05"
